version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://api:8080
    depends_on:
      - api

  api:
    build: 
      context: ./api
    container_name: api
    ports:
      - "8080:8080"
    env_file:
      - .env